*.pyc
*.txt
bankapp/manage/templates/manage/complete(1).html
bankapp/manage/templates/manage/failed(1).html
bankapp/manage/templates/manage/manage(1).html
bankapp/manage/templatetags/as_int(1).py
bankapp/login/migrations/0005_account_dob_account_email.py
bankapp/login/migrations/0004_transaction_description.py
bankapp/login/migrations/0003_transaction_date.py
bankapp/login/migrations/0002_transaction_rename_account_id_account_id_and_more.py
bankapp/login/migrations/0001_initial.py
bankapp/login/migrations/0001_initial(2).py
bankapp/login/migrations/0001_initial(1).py
